
*{
    box-sizing:border-box;
    /*border: 1px solid grey;*/
    padding:0;
    margin:0;
    max-width: 100%;
    letter-spacing:1px;
    vertical-align: baseline;
}

html {
    font-size:62.5%;
}

body{
    line-height:2;
    font-size:1.6rem;
}

p{
    font-size: 1.8rem;
    color:rgb(51, 49, 49);
    font-family: 'Noto Serif JP', serif;
    /* CSS for paragraphs*/
}

header {
    display:flex;
    max-width:100%;
}

.header-container{
    align-items:center;
    width:100%;
    /*background-color:orange;*/
}

#links {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-size:1.8rem;
    /* CSS for the div around id "links"*/
    width:50%;
    /*background-color: pink;*/
    padding: 0 8px;
}

.menu {
    /* CSS for my header top, right menu nav*/
    color:white;
    background-color:black;
    font-family: 'Noto Sans', sans-serif;
    border:2px solid white;
    padding-top:1%;
    padding-bottom:1%;
    padding-left:2%;
    padding-right:2%;
    border-radius: 5%;
    width:30%;
    text-align: center;
}

.menu:hover {
    font-style: italic;
    background-color:rgb(155, 241, 241);
}

h1 {
    color:white;
    font-size:7rem;
    width:auto;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
}

h2 {
    color:black;
    font-size:4rem;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
}

.page-title {
    width:80%;
    /*background-color:purple;*/
    padding-left: .5%;
}

#logo {
    background: url("https://images.unsplash.com/photo-1541320729316-d1b75cf6e2e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2091&q=80");
    background-position: center;
    background-size: cover;
    height: 300px;
    display:flex;
    justify-content:center;
    align-items:center; 
    width: 100%;
}

#projects-button {
    font-family: 'Noto Sans', sans-serif;
    color:black;
    font-size:2rem;
    text-transform: uppercase;
    box-sizing:border-box;
    border: 1px solid black;
    background-color:ghostwhite;
    display: flex;
    align-self: center;
    text-align: center;
    width: 15% 0;
    padding-top:1vh;
    padding-bottom:1vh;
    padding-left:3vh;
    padding-right:3vh;
    border-radius: 5%;
}

#projects-button:hover {
    font-style: italic;
    background-color:rgb(155, 241, 241);
}

#main-titles {
    display:flex;
    flex-direction:column;
    /*background-color: palegreen;*/
}

#projects {
    padding: 0;
    margin-top: 1%;
    margin-right: 15%;
    margin-bottom: 1%;
    margin-left: 15%;
    /*background: red;*/
    height:600px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width:70%;
    justify-content: space-around;
}

.project-one, .project-two, .project-three, .project-four, .project-five, .project-six {
    padding:1% 0;
    /*border:1px solid black;*/
    width: 30%;
    height: 35vh;
    max-width: 38vh;
    min-width: 38vh;
    text-align: center;
}

footer {
    background-color:blanchedalmond;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center; 
    width:100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.social {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    display:flex;
    flex-direction:column;
    align-items:center; 
    /*background-color:teal;*/
}

#contact-button {
    font-family: 'Noto Sans', sans-serif;
    color:black;
    font-size:2rem;
    text-transform: uppercase;
    box-sizing:border-box;
    border: 1px solid black;
    border-radius: 5%;
    background-color: ghostwhite;
    display: flex;
    align-self: center;
    text-align: center;
    width: 15% 0;
    padding-top:1vh;
    padding-bottom:1vh;
    padding-left:3vh;
    padding-right:3vh;
}

#contact-button:hover {
    font-style: italic;
    background-color:rgb(155, 241, 241);
}

img {
    border-radius: 5%;
}

/* max width 800px */

@media (max-width:800px) {

    .header-container {
        width:100%;
    }

    #links {
        justify-content: center;
        padding-top: 3vh;
        padding-bottom: 3vh;
        padding-left:3vh;
        padding-right:3vh;
        border-radius: 5%;
        width:40%;
        text-align: center;
        /*border:1px solid blue;*/
    }

    .menu {
        font-size: 1.3rem;
        border:2px solid white;
        text-align: center;
        width:32vh;
    }

    h1{
        font-size:6rem;
        width:auto;
    }

    h2 {
        font-size: 3rem;
    }

    p{
        font-size: 1.5rem;
        color:rgb(51, 49, 49);
        /* CSS for paragraphs*/
    }

    #projects {
        /*border: 2px solid blue;*/
        flex-direction:row;
        flex-wrap: wrap;
        justify-content:space-evenly;
        align-content:center;
        width: 70%;
        height:140vh;
        /*background-color: hotpink;*/
    }

    .project-one, .project-two, .project-three, .project-four, .project-five, .project-six {
        padding:1% 0;
        /*border:1px solid black;*/
        width: 30%;
        height: 45vh;
        max-width: 38vh;
        min-width: 38vh;
        text-align: center;
    }
    
    #projects-button {
        font-size: 1.3rem;
    }

    #contact-button {
        font-size:1.3rem ;
    }
    
    .social {
        font-size:1.5rem;
    }
    
   .page-title {
       width: 70%;
   }
}

/* max width 500px */

@media (max-width:500px) {
    .header-container {
        flex-direction: column;
        justify-content: center;
    }

    #links {
        font-size: 3vh;
        flex-direction: row;
        justify-content: center;
        width:64%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .page-title {
        display:flex;
        justify-content: center;
        width: 70%;
    }

    #projects {
        margin-top: 1%;
        margin-right: 15%;
        margin-bottom: 1%;
        margin-left: 15%;
        /*border: 2px solid blue;*/
        flex-direction:row;
        padding: 0;
        margin: 0;
        display:flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 150vh;
        /*background-color: hotpink;*/
    }

    .project-one, .project-two, .project-three, .project-four, .project-five, .project-six {
        padding:1% 0;
        /*border:1px solid black;*/
        width: 30%;
        height: 50vh;
        max-width: 38vh;
        min-width: 38vh;
        text-align: center;
    }

    #projects-button {
        font-size: 1.5rem;
    }

    #contact-button {
        font-size:1.5rem;
    }

    h1{
        font-size:5rem;
        width:auto;
    }

    h2 {
        font-size: 2.8rem;
    }
}

/*mobile wireframe*/

@media (max-width:320px) {


    h1{
        font-size:3.5rem;
        width:100%;
        flex-wrap: nowrap;
    }

    h2 {
        font-size: 2.9rem;
    }

    p{
        font-size: 1.4rem;
        color:rgb(51, 49, 49);
        /* CSS for paragraphs*/
    }

    .header-container{
        flex-direction: column;
        justify-content: center;
        width:100%;
    }

    .page-title {
        flex-flow: row nowrap;
        width:100%;
        font-size: 6rem;
    }

    #links {
        font-size: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*background-color: red;*/
        width:100%;
    }

    .menu {
        text-align: center;
        width: 50%;
    }

    #logo {
        flex-wrap: nowrap;
        height: 200px;
        width:100%;
    }

    #projects {
        padding: 0;
        margin: 0;
        display:flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
        align-content:center;
        /*background-color: hotpink;*/
        height:100vh;
    }

    .project-one, .project-two, .project-three, .project-four, .project-five, .project-six {
        padding:1% 0;
        /*border:1px solid black;*/
        width: 30%;
        height: 30vh;
        max-width: 20vh;
        min-width: 20vh;
        text-align: center;
    }

    #projects-button {
        font-size: 1.5rem;
    }

    #contact-button {
        font-size:1.5rem;
    }

}