
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    font-size:62.5%;
    margin:2%;
}

#links {
    width: 100%;
    display: flex;
    padding:5%;
}

nav {
    font-size:14px;
    display:flex;
    justify-content: flex-end;
}

nav #links {
    display:flex;
    justify-content:space-between;
}

.home {
    border: 2px solid black;
    padding:5%;
    display:flex;
    justify-content: space-between;
    width:50%;
    height:20%;
    text-align: center;
    align-content:center;
}

h1 {
    color:black;
    font-size:30px;
    width:50%;
    padding:10px;
}

h2 {
    color:white;
    font-size:50px;
    width:auto;
    padding:10px;

}

h3 {
    color:black;
    margin-top: 10px;
    font-size:20px;
    box-sizing:border-box;
    border: 1px solid gold;
    background-color:blanchedalmond;
    padding: 2px 5px;
    
}

.MyName {
    display: flex;
    justify-content: space-between;
    width:100%;
}

#logo {
    background: url("https://images.unsplash.com/photo-1541320729316-d1b75cf6e2e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2091&q=80");
    background-size: cover;
    height: 300px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center; 
    width:100%;
}

.menu {
    color:white;
    background-color:black;
    border-radius:10%;
    padding:10px;
}

#main-titles {
    display:flex;
    flex-direction:column;
    text-align: center;
}

.container {
    display:flex;
    align-items:center; 
    justify-content: space-between;
}

#projects {
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    padding:2%;
}

footer {
    background-color:blanchedalmond;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center; 
    width:100%;
    padding:2%;
}
